/* reset code */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
section{
    margin: 50px 150px;
}

/* nav section */
nav.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    margin-top: 15px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-logo img {
    width: 100%;
}

.nav-logo {
    width: 3rem;
}

.nav-logo-title {
    margin-left: 1rem;
}

.nav-logo-title span {
    color: #FF5400;
}

.nav-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-right ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #424247;
    font-weight: 400;
    
}

.nav-right ul li {
    padding: 15px 20px;
    transition: 0.4s;
    border-radius: 5px;
}

.nav-right ul li:hover {
    background-color: #FF5400;
    color: white;
}

.nav-active a{
    color: #FF5400 !important;
}
.nav-right ul li:hover a {
    color: white !important;
}

/* hero section */
section#hero-section {
    background-image: url(../Images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.hero-container h1 {
    color: white;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-container p {
    font-size: 16px;
    color: white;
    width: 37rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.hero-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000009e;
    padding: 10px;
    border-radius: 5px;
}

.hero-input .hero-input-single {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 7rem;
    padding: 0.6rem;
    margin-right: 10px;
    border-radius: 5px;
}








@media screen and (max-width:600px) {
    /* common style */
    nav.nav-section,
    section,
    .hero-container,
    .hero-input{
        flex-direction: column;
    }

    /* nav section */
    nav.nav-section,
    section{
        margin: 0px 20px;
        margin-top: 15px;
    }
    .nav-right ul li{
        padding: 10px 15px;
    }
    .nav-right ul li a{
        font-size: 12px;
    }

    /* hero section */
    .hero-container h1{
        font-size: 30px;
    }
    .hero-container p{
        width: 20rem;
        font-size: 12px;
    }
    .hero-input-single{
        margin-bottom: 1rem;
    }
    .hero-input-single:last-child{
        margin-bottom: 0;
    }
    .hero-input{
        padding: 40px 30px;
        border-radius: 10px;
    }
}