/* reset code */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
section{
    margin: 50px 150px;
}

/* nav section */
nav.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    margin-top: 15px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-logo img {
    width: 100%;
}

.nav-logo {
    width: 3rem;
}

.nav-logo-title {
    margin-left: 1rem;
}

.nav-logo-title span {
    color: #FF5400;
}

.nav-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-right ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #424247;
    font-weight: 400;
    
}

.nav-right ul li {
    padding: 15px 20px;
    transition: 0.4s;
    border-radius: 5px;
}

.nav-right ul li:hover {
    background-color: #FF5400;
    color: white;
}

.nav-active a{
    color: #FF5400 !important;
}
.nav-right ul li:hover a {
    color: white !important;
}

/* hero section */
section#hero-section {
    background-image: url(../Images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.hero-container h1 {
    color: white;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-container p {
    font-size: 16px;
    color: white;
    width: 37rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.hero-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000009e;
    padding: 10px;
    border-radius: 5px;
}

.hero-input .hero-input-single {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 7rem;
    padding: 0.6rem;
    margin-right: 10px;
    border-radius: 5px;
}
/* tour section */
section#tours {
    display: flex;
    gap: 5rem;
}

.tours-left h2 {
    color: #131318;
    font-size: 40px;
    margin-bottom: 2rem;
    font-weight: 800;
}

.tours-left p {font-size: 18px;font-weight: 400;color: rgba(19, 19, 24, 0.70);margin-bottom: 1rem;}

.tours-left li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
}

button.btn-primary {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #FF5400;
    font-size: 18px;
    margin-top: 50px;
    transition: 0.4s;
    cursor: pointer;
}
button.btn-primary:hover {
    background-color: aqua;
}

/* destination section */
.destination-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-title h2 {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 1rem;
}


.destination-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 35rem;
    text-align: center;
    margin-bottom: 2rem;
}
.destination-img-1{
    background-image: url(../Images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;

}
.destination-img-2{
    background-image: url(../Images/Rectangle\ 8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}
.destination-img-3{
    background-image: url(../Images/Rectangle\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    border-radius: 5px;
}
.destination-img-4{
    background-image: url(../Images/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    border-radius: 5px;
}
.destination-img-5{
    background-image: url(../Images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    border-radius: 5px;
}
.destination-img-6{
    background-image: url(../Images/Rectangle\ 11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}
.destination-img-7{
    background-image: url(../Images/Rectangle\ 10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}

.destination-img-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destination-img-container-1 {
    display: flex;
    gap: 1rem;
    text-align: center;
}
.destination-img-container h2 {
    padding: 100px 0px;
    color: white;
}
/* card section */
.single-card {
    width: 45%;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.single-card i {
    font-size: 3rem;
    color: #0600ff70;
    margin-bottom: 1rem;
}

.single-card h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.single-card p {
    color: #5A5A5D;
    font-size: 16px;
    margin-bottom: 1rem;
}

.single-card:nth-child(2) {
    border: 1px solid rgba(42, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-wrap-di {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* place section */
.place-right{
    background-image: url(../Images/Group\ 40089.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.place-left {
    width: 50%;
}

.place-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.place-right {
    width: 50%;
    text-align: center;
    border-radius: 12px;
}

.place-left h2 {
    font-size: 40px;
    color: #131318;
    font-weight: 800;
    margin-bottom: 2rem;
}

.place-left p {
    font-size: 1rem;
    color: #5A5A5D;
    margin-bottom: 2rem;
}

.place-left li {
    font-size: 16px;
    color: #131318;
    margin-bottom: 1rem;
    font-weight: 700;
    margin-left: 1rem;
}

.place-left button {
    padding: 15px 20px;
    color: white;
    background: #FF5400;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 1rem;
    transition: 0.4s;
    cursor: pointer;
}

.place-left button:hover {
    color: white;
    background: aqua;
}

.place-right h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    width: 25rem;
    font-weight: 800;
    padding: 10rem 6rem;
}
/* newsletter section */
.newsletter-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.newsletter-left {
    border: 2px solid #FF5400;
    border-radius: 10px;
    padding: 2rem;
}

.newsletter-left h2 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.newsletter-left p {
    color: #5A5A5D;
    font-size: 1rem;
    width: 22rem;
    margin-bottom: 1rem;
}

.newsletter-left hr {
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin-bottom: 2rem;
}

.newsletter-input input {
    padding: 10px 15px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.newsletter-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.newsletter-input input[type="submit"] {
    background: #FF5400;
    color: white;
}
.newsletter-img img {
    width: 100%;
}

.newsletter-img div {
    position: absolute;
    bottom: 4rem;
    right: 1rem;
    background: #FF5400;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    color: white;
    rotate: -30deg;
}

.newsletter-img {
    position: relative;
}

/* footer section */
footer#footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 5rem;
}
.footer-container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-top: 2rem;
}
.footer-container p {
    color: #5A5A5D;
    font-size: 1rem;
}

.fiooter-icon {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.fiooter-icon i {
    font-size: 2rem;
}

.footer-container hr {
    border: 1px solid rgba(19, 19, 24, 0.10);
    width: 100%;
}

.footer-container h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #131318;
    font-weight: 300;
}




/* my section */

#my-section input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #my-section input[type=submit] {
    background-color: #FF5400;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #my-section input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #my-section .my-section-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  #my-section .column {
    width: 50%;
    margin:auto;
    padding: 20px;
  }
  
  


@media screen and (max-width:600px) {
    /* common style */
    nav.nav-section,
    section,
    .hero-container,
    .hero-input,
    section#tours,
    .destination-img-container-1,
    .card-wrap-di,
    .place-container,
    .newsletter-container{
        flex-direction: column;
    }

    /* nav section */
    nav.nav-section,
    section,
    .tours-left{
        margin: 0px 20px;
        margin-top: 15px;
    }
    .nav-right ul li{
        padding: 10px 15px;
    }
    .nav-right ul li a{
        font-size: 12px;
    }

    /* hero section */
    .hero-container h1{
        font-size: 30px;
    }
    .hero-container p{
        width: 20rem;
        font-size: 12px;
    }
    .hero-input-single{
        margin-bottom: 1rem;
    }
    .hero-input-single:last-child{
        margin-bottom: 0;
    }
    .hero-input{
        padding: 40px 30px;
        border-radius: 10px;
    }

    /* tour section */
    .tours-right img {
        width: 100%;
    }
    .tours-left h2,
    .destination-title h2{
        font-size: 20px;
    }
    .tours-left p{
        font-size: 14px;
    }
    .tours-left li{
        font-size: 14px;
    }

    /* destination section */
    .destination-img-container-1 div{
        width: 100%;
    }
    .destination-title p{
        width: 21rem;
        font-size: 14px;
    }
    /* card section */
    .single-card{
        width: 100%;
        margin: 0px 20px;
    }
    /* place section */
    .place-left {
        width: 100%;
    }
    .place-right {
        width: 100%;
    }
    .place-left h2{
        font-size: 2rem;
    }
    .place-right h2{
        width: 100%;
        padding: 5rem 0;
    }
    .place-container{
        gap: 2rem;
    }
    /* my section */
    #my-section .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
        padding: 0px;
      }
    /* footer section */
    .footer-container{
        width: 90%;
    }
}