/* reset code */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
section{
    margin: 50px 150px;
}

/* nav section */
nav.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    margin-top: 15px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-logo img {
    width: 100%;
}

.nav-logo {
    width: 3rem;
}

.nav-logo-title {
    margin-left: 1rem;
}

.nav-logo-title span {
    color: #FF5400;
}

.nav-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-right ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #424247;
    font-weight: 400;
    
}

.nav-right ul li {
    padding: 15px 20px;
    transition: 0.4s;
    border-radius: 5px;
}

.nav-right ul li:hover {
    background-color: #FF5400;
    color: white;
}

.nav-active a{
    color: #FF5400 !important;
}
.nav-right ul li:hover a {
    color: white !important;
}

/* hero section */
section#hero-section {
    background-image: url(../Images/Hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.hero-container h1 {
    color: white;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-container p {
    font-size: 16px;
    color: white;
    width: 37rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.hero-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000009e;
    padding: 10px;
    border-radius: 5px;
}

.hero-input .hero-input-single {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 7rem;
    padding: 0.6rem;
    margin-right: 10px;
    border-radius: 5px;
}
/* tour section */
section#tours {
    display: flex;
    gap: 5rem;
}

.tours-left h2 {
    color: #131318;
    font-size: 40px;
    margin-bottom: 2rem;
    font-weight: 800;
}

.tours-left p {font-size: 18px;font-weight: 400;color: rgba(19, 19, 24, 0.70);margin-bottom: 1rem;}

.tours-left li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
}

button.btn-primary {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #FF5400;
    font-size: 18px;
    margin-top: 50px;
    transition: 0.4s;
    cursor: pointer;
}
button.btn-primary:hover {
    background-color: aqua;
}

/* destination section */
.destination-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-title h2 {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 1rem;
}


.destination-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 35rem;
    text-align: center;
    margin-bottom: 2rem;
}
.destination-img-1{
    background-image: url(../Images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;

}
.destination-img-2{
    background-image: url(../Images/Rectangle\ 8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}
.destination-img-3{
    background-image: url(../Images/Rectangle\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    border-radius: 5px;
}
.destination-img-4{
    background-image: url(../Images/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    border-radius: 5px;
}
.destination-img-5{
    background-image: url(../Images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
    border-radius: 5px;
}
.destination-img-6{
    background-image: url(../Images/Rectangle\ 11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}
.destination-img-7{
    background-image: url(../Images/Rectangle\ 10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 5px;
}

.destination-img-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destination-img-container-1 {
    display: flex;
    gap: 1rem;
    text-align: center;
}
.destination-img-container h2 {
    padding: 100px 0px;
    color: white;
}







@media screen and (max-width:600px) {
    /* common style */
    nav.nav-section,
    section,
    .hero-container,
    .hero-input,
    section#tours,
    .destination-img-container-1{
        flex-direction: column;
    }

    /* nav section */
    nav.nav-section,
    section,
    .tours-left{
        margin: 0px 20px;
        margin-top: 15px;
    }
    .nav-right ul li{
        padding: 10px 15px;
    }
    .nav-right ul li a{
        font-size: 12px;
    }

    /* hero section */
    .hero-container h1{
        font-size: 30px;
    }
    .hero-container p{
        width: 20rem;
        font-size: 12px;
    }
    .hero-input-single{
        margin-bottom: 1rem;
    }
    .hero-input-single:last-child{
        margin-bottom: 0;
    }
    .hero-input{
        padding: 40px 30px;
        border-radius: 10px;
    }

    /* tour section */
    .tours-right img {
        width: 100%;
    }
    .tours-left h2,
    .destination-title h2{
        font-size: 20px;
    }
    .tours-left p{
        font-size: 14px;
    }
    .tours-left li{
        font-size: 14px;
    }

    /* destination section */
    .destination-img-container-1 div{
        width: 100%;
    }
    .destination-title p{
        width: 21rem;
        font-size: 14px;
    }
}